.follow-content{
  margin-top: 83px;
  // min-height: 1340px;
}
.following-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 64px;
  height: 319px;
  width: 248px;
  border-radius: 16px;
  padding: 24px 38px;

  &:hover{
    background-color: #262626;
  }
  .user-avatar {
    width: 172px;
    height: 172px;
    border-radius: 50%;
    margin-bottom: 16px;
  }

  .user-name {
    color: white;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    width: 100%;
    text-align: center;
  }

}
