.following-page {
  .banner {
    position: relative;
    height: 240px;
    background-color: #101011;
    display: flex;
    justify-content: center;

    .banner-content {
      display: flex;
      height: 100%;
      flex: 1;
      justify-content: center;
    }

    .banner-image {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
    }

    .bannerAvatar {
      position: absolute;
      bottom: -20px;
      left: 25%;
      transform: translate(-50%, 50%);
      z-index: 3;
      width: 170px;
      border-radius: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      @media (max-width: 768px) {
        left: 15%;
      }

       
      @media (max-width: 568px) {
       bottom: 0px;
      }

      img {
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 50%;
      }

      .social-wrapper {
        display: flex;
        align-items: center;
        margin-left: 10px;
        margin-top: 20px;

        @media (max-width: 568px) {
          display: none;
        }

        img {
          width: 33px;
          margin-right: 15px;
          cursor: pointer;
        }
      }
    }
  }

  .profile-content {
    position: relative;

    .btn-follow{
      width: 106px;
      height: 34px;
      margin-top: 16px;
      margin-bottom: 0px;
      font-size: 14px;
    }

    .floating-actions1 {
      position: absolute;
      right: 15px;
      top: 10px;
      display: flex;
      align-items: flex-end;
      flex-direction: row;

      @media (min-width: 768px) {
        flex-direction: column;
        right: 0;
        top: 30px;
      }

      img {
        width: 30px;
        margin-left: 10px;
        cursor: pointer;

        @media (min-width: 768px) {
          width: 40px;
          margin-left: 15px;
        }
      }
    }

    .profile-info1 {
      padding-top: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-right: 150px;

      .info-lead {
        color: white;
      }

      .info-sub-lead {
        color: #5f5f5f;
        max-width: 380px;
        text-align: center;
      }

      .hex-group {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;

        .hex-name {
          color: white;
          font-size: 15px;
          margin-bottom: 0;
          margin-right: 25px;
        }

        .info-sub-lead {
          margin-bottom: 0;
        }

        img {
          width: 15px;
          margin-left: 10px;
        }
      }

      .follower-group {
        display: flex;

        .info-lead {
          margin-right: 40px;

          &:last-child {
            margin-right: 0;
          }
        }
      }

      .btn-continue {
        padding: 10px 30px;
      }

      .social-wrapper {
        display: flex;
        align-items: center;
        margin-bottom: 30px;

        img {
          width: 43px;
          margin-right: 15px;
        }

        .info-sub-lead {
          margin-bottom: 0;
          margin-right: 20px;
        }
      }
    }
  }
}

